{% form_theme registrationForm.email 'utiles/nolabels/bootstrap_nolabels_one_col.html.twig' %}
{% form_theme registrationForm.plainPassword 'utiles/nolabels/bootstrap_nolabels_one_col.html.twig' %}
{% form_theme registrationForm.name 'utiles/nolabels/bootstrap_nolabels_one_col.html.twig' %}


{% block title %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('dist/img/XperienceUML.png') }}"/>

    {% block stylesheets %}
<!-- Font Awesome -->
<link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- icheck bootstrap -->
<link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
<!-- Theme style -->
<link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% endblock  %}
    
    {% block javascripts %}
<!-- jQuery -->
<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>

    {% endblock %}

    {% block body %}
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="#"><b>XPerience</b>UML</a>
  </div>

  <div class="card" >
    <div class="card-body register-card-body">
      <p class="login-box-msg">Registrarme</p>

      <form  method="post">
        {{ form_start(registrationForm) }}
        <div class="input-group mb-3">
          {{ form_row(registrationForm.email,{'attr': {'class': 'form-control'}})}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form_row(registrationForm.plainPassword,{'attr': {'class': 'form-control'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form_row(registrationForm.name,{'attr': {'class': 'form-control'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              {{ form_row(registrationForm.agreeTerms, {label:'Acepto los términos'}) }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar usuario</button>
          </div>
        </div>
          {{ form_end(registrationForm) }}
        <div class="row">
          <div class="col-8">
            <a href="/login"><button class="btn btn-info btn-block btn-flat">Regresar</button></a>
          </div>
        </div>
      </form>




    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->


</body>



    {% endblock %}